
.blogname {
	background: #efefef;
	color: #1919E8;
	text-align: center;
}



/*
X A different background color.
X A different font family.
X A different font size.
A different font color.
A different line height.
A different padding value.
Each should have a border, but with rounded corners of different size 
(e.g. one article could have barely rounded borders, but the next one 
could be almost circular in shape)
*/

.one {
	background: #F5B8D5;
	font-family: 'Bungee Shade', cursive;
	font-size: 0.65em;	
	color: white;
}
.one {
	background: #F5B8D5;
	font-family: 'Bungee Shade', cursive;	
	font-size: 0.65em;
	color: white;
}


.two {
	background: #D0F5B8;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.2em;
	color: black;
}

.three {
	background: #D0B8F5;
	font-family: 'Abril Fatface', cursive;
	font-size: 0.9em;
	color: #F7EC0D;
}

.four {
	background: #B8E9F5;
	font-family: 'Vampiro One', cursive;
	font-size: 0.95em;
	color: #3F0DF7;
}

.five {
	background: #B8B8F5;
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.5em;
	color: #F70D22;
}